body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, serif;
    color: #252525;
}

* {
    box-sizing: border-box;
}
/* Menu */

.menu {
    background: #252525;
    padding: 20px 0;
    color: rgb(243, 235, 235);
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before {
    content: '';
    display: table;
    clear: both;
}
.menu-title {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

/* Intro */

.intro {
    background: url('imagens/guitar-menu.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}

/* about */

.about {
    padding: 60px 0;
    background-color: rgb(207, 197, 188);
}

.about-container {
    max-width: 960px;
    margin: 0 auto;
}

.about-container::after, .about-container::before {
    content: '';
    display: table;
    clear: both;
}

.about h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.about-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.about-img {
    display: block;
    width: 460px;
    height: 330px; 
}

.about-item h3 {
    font-size: 2.25em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    line-height: 1em;
    position: relative;
    margin-top: -25px;
}

.about > p {
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

/* Products */

.products {
    background: #e7e4d8;
    padding: 60px 0;
    border-top: #d6d3c8 3px solid;
    border-bottom: #d6d3c8 3px solid;
}

.products-container {
    max-width: 960px;
    margin: 0 auto;

}

.products-container::after, .products-container::before {
    content: '';
    display: table;
    clear: both;
}
.products-item {
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}

.products-item h2::before {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    
    background-size: cover;
    border-radius: 50%;
    margin: 20px auto;
}

.products-les-paul::before {
    background: url(imagens/products-lesPaul.jpeg) center center no-repeat;
}

.products-stratocaster::before {
    background: url(imagens/products-stratocaster.jpg) center center no-repeat;
}

.products-sg::before {
    background: url(imagens/products-sg.jpg) center center no-repeat;
}

.products-item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.products-item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.products-btn {
    width: 180px;
    border: 3px solid;
    color: #252525;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;

}

/* Locals */

.local {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.local-items {
    clear: both;
    padding: 20px 0;
}

.local-items::after, .local-items::before {
    display: table;
    content: '';
    clear: both;
}

.local-items img{
    width: 400px;
    height: 250px;
    display: block;
    float: left;
    margin: 0 10px;
    border: solid #ada1a1 2px;
}


.local-items h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
    margin-top: 0px;
}

.local-items p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 500;
    display:block;
    margin-bottom: 40px;
}

.local-items a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/* Sign and Footer */

.sign {
    padding: 30px 0;
    background: #e7e4d8;
}

.sign-container {
    max-width: 960px;
    margin: 0 auto;
}

.sign-container::after, .sign-container::before {
    content: '';
    display: table;
    clear: both;
}

.sign-info {
    width: 460px;
    margin: 0 10px;
    float: left; 
}

.sign-info h2 {
    font-size: 2.25em;
    margin-top: 10px;
}

.sign-info p {
    font-size: 1.5em;
    font-style: italic;
}

.sign-form {
    width: 450px;
    
    float: left;
}

.sign-form label {
    display: none;
}

.sign-form input {
    width: 320px;
    border: 3px solid #252525;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 10px;
    float: left;
}

.sign-form button {
    background: #252525;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 120px;
    cursor: pointer;
    border: none;
    padding: 13px 0;
    color: #fff;
}

.footer {
    background: #d6d3c8;
    padding: 40px 0;
}

.footer p {
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
    text-align: center;
}